//Breakpoints

$m: 520px;
$l: 768px;
$xl: 1200px;

$sticky-height: 80px;
//border-radius of elements
$rad:  30px;

//colors
$primary: #ad5c00;
$secondary: #a36a00;
$dark: #252831;
$dark-grey: #333;
$light-grey: #c9c9c9;
$container-padding: 1em;