@charset "utf-8";
/* CSS Document */

/*Focus styles*/
:focus {
	outline-color: $primary;
	outline-style: dotted;
	outline-width: thin;

}

/*Typography*/
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: $dark-grey;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Helvetica, sans-serif;
	margin: 0 0 1em;
}

ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: $dark-grey;
}

a {
	color: orange;
	text-decoration: none;
}

/*Main styles*/
body {
	background-color: #fdfdfd;
	margin: 0;
	position:relative;
	display: flex;
	flex-direction: column;
	height: 100vh;
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
}

.maincontent {
	background-color: #f3f3f3;
	min-height: 100%;
}
footer {
	background-color: #444;
	color: #aaa;
	font-size: 8pt;
	letter-spacing: 1px;
	padding: 25px;
	text-align: center;
	text-transform: uppercase;
}

/*Accessibility features*/
//Move form labels offscreen
label {
	position: absolute;
	left: -500px;
	color: white;
}

//Skip link
.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: $primary;
	color: #fff;
	font-weight: 100;
	padding: 5px 10px;
	z-index: 100;
}

.skip-link:focus, .skip-link:hover {
	top: 0;
	color: #fff;
}